*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body { margin: 0; background: transparent; } /* deja que el fondo del :host se vea a pantalla completa */
body.no-scroll { overflow: hidden; }
